<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>HateisHate - Twiiter App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
           <nav> 
               <ul class="nav nav-pills pull-right">
                   <li role="presentation" class="active">
                       <a href="http://www.hateishate.com/" target="_blank">Home</a>
                   </li>
                   <li role="presentation">
                       <a href="https://github.com/HateisHate/HateisHate-dev" target="_blank">GitHub</a>
                   </li>
              </ul> 
           </nav>          
  
        <img src="http://i.imgur.com/SRUAuPQ.png" width="100px" class="pull-left" /><h3 class="text-muted">HateIsHate - Twitter</h3>
        </div>
 
        <div class="jumbotron">
            <h4>A twitter bot that changes the flavour of hateful tweets.</h4>
            <ul class="list-unstyled">Dependencies:
	        <li>Python3 - https://www.python.org/</li>
	        <li>Tweepy - http://www.tweepy.org/</li>
	    </ul>
            <div align="left">
                <h4>How to use @HateisHate_:</h4>
                <p style="font-size: 14px">You use @HateisHate_ by tweeting to it, then it very quickly responds swapping some key words.</p>
                <p></p>
                <h4>When you should use @HateisHate_:</h4> 
                <p style="font-size: 14px">You should use @HateisHate_ when someone who fights against hate, tweets something hateful. HateisHate_ shows them that their personal brand of hate is no better than the hate they are trying to fight against.</p> 

            </div>
            <hr>
            <div class="container">
               <div class="row">
                   <p></p>
                   <div class="col-xs-6">
                       <p>Human Account:</p>
                       <a class="twitter-timeline" data-lang="en" data-width="300" data-height="400" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/h8ish8demo">Tweets by hateishate demo</a> <script asyn src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div> 
                    <div class="col-xs-6">
                       <p>Bot Account:</p>
                       </script><a class="twitter-timeline" data-lang="en" data-width="300" data-height="400" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/hateishate_">Tweets by hateishate_</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                       <p></p>
                       <p style="font-size: 14px">*Disclaimer: We are not responsible for any account bans using the <strong>@HateisHate_</strong> bot. The algorithrim is random; we do not control the content the bot replies with.*</p>       
                </div>
            </div>
        </div>
 
        <footer class="footer">
            <p><strong>HateisHate_</strong> bot created at HackNJIT November 6 2016.</p>
        </footer>
 
    </div>
</body>
 
</html>  
